{% extends "common/layout_main.html" %}
{% block content %}
    <div class="row  border-bottom">
        <div class="col-lg-12">
            <div class="tab_title">
                <ul class="nav nav-pills">
                    <li class="current">
                        <a href="{{ buildUrl('/account/index') }}">账户列表</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline wrap_search">
                <div class="row m-t p-w-m">
                    <div class="form-group">
                        <select name="status" class="form-control inline">
                            {% for status in status_mapping %}
                                <option value="{{ status }}" {% if status == params['status'] %}
                                        selected {% endif %}>{{ status_mapping[status] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="mix_kw" placeholder="请输入姓名或者手机号码" class="form-control"
                                   value="{{ params['mix_kw'] }}">
                            <input type="hidden" name="p" value="1">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-primary search">
                                <i class="fa fa-search"></i>搜索
                            </button>
                        </span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <a class="btn btn-w-m btn-outline btn-primary pull-right"
                           href="{{ buildUrl('/account/edit') }}">
                            <i class="fa fa-plus"></i>账号
                        </a>
                    </div>
                </div>
            </form>
            <table class="table table-bordered m-t">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for user in user_list %}
                    <tr>
                        <td>{{ user.uid }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.mobile }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="{{ buildUrl('/account/info') }}?uid={{ user.uid }}{{ pages.url_params }}">
                                <i class="fa fa-eye fa-lg"></i>
                            </a>
                            {% if user.status == 1 %}
                                <a class="m-l" href="{{ buildUrl('/account/edit') }}?uid={{ user.uid }}">
                                    <i class="fa fa-edit fa-lg"></i>
                                </a>
                                <a class="m-l remove" href="javascript:void(0);" data="{{ user.uid }}">
                                    <i class="fa fa-trash fa-lg"></i>
                                </a>
                            {% else %}
                                <a class="m-l remove" href="javascript:void(0);" data="{{ user.uid }}">
                                    <i class="fa fa-rotate-left fa-lg"></i>
                                </a>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <!--分页代码已被封装到统一模板文件中-->
            {% include 'common/pagination.html' %}
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{{ buildStaticUrl('/js/account/index.js') }}"></script>
{% endblock %}
